@import '~bulma-switch';

html {
    background-color: hsl(206, 94%, 87%);
}
.side {
    background-image: url(/public/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100 auto;
    height: 550px;
}

.circle {
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn_right {
    position: absolute;
    top: 80%;
    left: 85%
}
