@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    background-color: black !important;
}

.outfit {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.outfit-h-l {
    font-size: 32px;
}

.outfit-h-m {
    font-size: 24px;
    font-weight: bold;
}

.outfit-h-s {
    font-size: 24px;
}

.outfit-h-xs {
    font-size: 18px;
}

.outfit-b-m {
    font-size: 15px;
}

.outfit-b-s {
    font-size: 13px;
}

.bookmark {
    position: absolute;
    top: 1%;
    right: 1%;
}

.button-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.is-playable:hover {
    background-color: rgba(87, 87, 87, 0.5);
}

.is-playable .button-play {
    visibility: hidden;
}

.is-playable:hover .button-play {
    background-color: rgba(222, 208, 208, 0.5);
    visibility: visible;
}








