.section{
    border: 1px solid #ddd;
    border-radius: 15px;
}
.section .box{
    border:1px solid #ddd;
}

.total .column:nth-child(3) title{
    border-right:none;
}

.total .column .bottom-line {
    position: relative;
    margin: 0 auto;
    width: 40%;
    max-width: 80px;
    border: none;
}


.progress-bar {
    position: relative;
    width: 100%;
    height: 1rem;
    background-color: #f6f2f2;  
    border-radius: 10px;
}

.progress{
    position: absolute;
    width: 70%;
    background-color: hsl(176, 50%, 47%);
}
.logo{
    position: absolute;
    top:-30px;
    left: 44%;
}
.button{
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: hsl(176, 50%, 47%);
}
.bookmark{
    position: relative;
    color: #7A7A7A;
    background-color: #f6f2f2;
}

.bookmark.on{
    color: hsl(176, 50%, 47%);
    background-color: #f4fbfb;
}   
.funding .price{
    color: hsl(176, 50%, 47%);
}
/*bos 비활성화 모드 */
.funding.disable .title ,.box.disable .price ,.box.disable .content p{
    opacity: 0.6;
}
.funding.disable .button{
    opacity: 0.6;
    background-color: #a9a8a8;
}
.bookmark .button:hover{
    background-color: hsl(176, 72%, 28%) !important;
}

@media screen and (max-width: 768px) {
    .total .column .title,  .total .column p{
        text-align: center;
    }
    .total .column p{
        text-align: center;
    }
    .total .column .line {
        border-bottom: 1px solid #ddd;
    }

    .top .button{
        font-size: 18px;
    }   
  }