html {
  background-color: hsl(0, 0%, 86%);
}

.section {
  height: 90vh;
}

.box {
  max-width: fit-content;
  min-width: auto;
  border-radius: 5% 5% 30% 5%;
}

.divider {
  border-top: 1px solid lightgrey;
  position: relative;
}

/* .circle-mobile {
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.circle {
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 97%;
  transform: translateX(-50%);
} */

.purple {
  background-color: hsl(259, 100%, 65%)
}

@font-face {
  font-family: Poppins-BoldItalic;
  src: url('assets/fonts/Poppins-BoldItalic.ttf');
  font-weight: 900;
} 
.font {
  font-family: Poppins-BoldItalic;
}
.font-purple {
  color: hsl(259, 100%, 65%);
}

@media screen and (min-width: 431px) {
  .circle {
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 97%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .circle {
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
